name: Deploy Preview
on: pull_request

jobs:
  deploy_preview:
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npx firebase use abraham-d3850
      - run: npm run build
      - uses: w9jds/firebase-action@v14.2.2
        with:
          args: hosting:channel:deploy ${{ github.ref_name }}
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          PROJECT_ID: abraham-d3850
