name: Main
on: push
jobs:
  test:
    env:
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
    runs-on: ubuntu-latest
    name: Test
    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npx firebase use abraham-d3850
      - run: npm run test

  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run build

  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run lint
